
@{
    ViewBag.Title = "Index";
}

@model Dictionary<string, Object>
<h3><img src="@((Model["channel"] as FeedReader.Models.RssChannel).ImageUrl)" /><a href="@Html.DisplayFor(modelItem => ((Model["channel"] as FeedReader.Models.RssChannel).Link))" target="_blank">@Html.DisplayFor(modelItem => (Model["channel"] as FeedReader.Models.RssChannel).Title)</a></h3>


<br />
@foreach (FeedReader.Models.RssItem item in (Model["channel"] as FeedReader.Models.RssChannel).Items)
{
    <div style="white-space:nowrap">
        <img src="@Html.ValueFor(modelItem => item.ImageUrl)" style="max-height:100px; display: inline-block" />
        <div style="display:inline-block; white-space: normal">
            <h3><a href="@Html.ValueFor(modelItem => item.Link)" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a></h3>
            @Html.DisplayFor(modelItem => item.Description)
        </div>
    </div>

}
