@using FeedReader.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 class="text-center">Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>There are no external authentication services configured. See <a class="orangeLink" href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.</p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" style="padding-bottom:60px">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        
                            if (@p.AuthenticationType.Equals("Google", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="col-md-6 text-center">
                                     <button type="submit" class="transparent" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                         <img src="~/Content/Images/google.PNG"/>
                                     </button>
                                    
                                </div>
                            }
                            else if (@p.AuthenticationType.Equals("facebook", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="col-md-6 text-center">
                                    <button type="submit" class="transparent" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                        <img src="~/Content/Images/facebook.png"/>
                                    </button>
                                </div>
                            }
                    }
            </div>
        }
    }
}
