@using FeedReader.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>There are no external authentication services configured. See <a class="orangeLink" href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.</p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" style="padding-bottom:60px">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        
                            if (@p.AuthenticationType.Equals("Google", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="col-md-6 text-center">
                                    <img id="@p.AuthenticationType" alt="Log in using your @p.Caption account." src="~/Content/Images/google.PNG" />
                                </div>
                            }
                            else if (@p.AuthenticationType.Equals("facebook", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <div class="col-md-6 text-center">
                                    <image id="@p.AuthenticationType" alt="Log in using your @p.Caption account." src="~/Content/Images/facebook.png" />
                                </div>
                            }
                                
                    }
            </div>
        }
    }
}
