@model IEnumerable<FeedReader.Models.RssFeed>

@{
    ViewBag.Title = "My Subscriptions";
}

<h2 class="top-buffer">Rss Subscriptions</h2>

<div class="backInGray roundCorners minw415">
    <table class="table">
        <tr>
            <th style="border-top:none">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="border-top:none">
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th style="border-top:none">
                <a href='@Url.Action("Create","RssFeed")' class="slideRight">
                    <button class="btn btn-default">Add Feed</button>
                </a> 
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Link.Equals("An invalid RSS url was used. Please edit the URL and input a valid URL."))
                {
                    <div style="color:red">@Html.DisplayFor(modelItem => item.Link)</div>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Link)
                }                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"}) |
                @Html.ActionLink("Details", "Details", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"}) |
                @Html.ActionLink("Delete", "Delete", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"})
            </td>
        </tr>
    }
    </table>   
</div>



