@model IEnumerable<FeedReader.Models.RssFeed>

@{
    ViewBag.Title = "My Subscriptions";
}

<h2 class="top-buffer">Rss Subscriptions</h2>

<div class="backInGray roundCorners">
    <table class="table">
        <tr>
            <th style="border-top:none">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="border-top:none">
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th style="border-top:none"> 
                <button class="btn btn-default slideRight">
                    @Html.ActionLink("Add Feed", "Create", routeValues: null, htmlAttributes: new { @class = "btn-default"})
                </button>
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"}) |
                @Html.ActionLink("Details", "Details", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"}) |
                @Html.ActionLink("Delete", "Delete", new { UserId=item.UserId, Title=item.Title },htmlAttributes: new { @class = "orangeLink"})
            </td>
        </tr>
    }
    </table>   
</div>



