@model IEnumerable<FeedReader.Models.FeedArticle>

@{
    ViewBag.Title = "ShowArticles";
}

<h2>ShowArticles</h2>
<table class="table">
    <tr>
       <th>Article</th>
       <th>Publish Date</th>
       <th>Author</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr title="@item.desc">
            <td>
                <a href=@item.link target="_blank" > @Html.DisplayFor(modelItem => item.title) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishDate)
            </td>
            <td>
                @(item.authors == null ? "Unavailable" : item.authors)

            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>*@
        </tr>
    }

</table>
