@using FeedReader.Models;

@model RssItem

    <style>

        .rssItemHolder {
            white-space: nowrap;
            overflow: hidden;
            margin: 10px;
        }

        .rssItemHolder > :first-child {
            float: left;
            display: inline-block;
        }

        .rssItemHolder > * {
            display: block;
        }

        .rssItemMainImage {
            max-height:100px; 
            margin-right: 5px;
        }
    
        .rssItemTextHolder {
            white-space: normal
        }   

        .rssItemTitle a{
            color: black;
            font-size: 1.5em;
        }

        .rssItemDate {
            color: grey;
            font-size: .9em;
        }
    </style>
<div class="rssItemHolder">
    <img class="rssItemMainImage" src="@Html.ValueFor(modelItem => modelItem.ImageUrl)" />
    <div class="rssItemTextHolder">
        <span class="rssItemTitle"><a href="@Html.ValueFor(modelItem => modelItem.Link)" target="_blank">@Html.DisplayFor(modelItem => modelItem.Title)</a></span>
        <br />
        <span class="rssItemDate">@Html.DisplayFor(modelItem => modelItem.PubDate, "ShortDateTime")</span><br />
        @Html.DisplayFor(modelItem => modelItem.Description)
        @*@Html.Raw(item.Description)*@
    </div>
</div>